# --- CONFIGURACIÓN GENERAL DE DJANGO ---
# Cambiar a TRUE para desarrollo local, FALSE para producción
DEBUG=True

# Genera una clave segura para tu proyecto
SECRET_KEY=tu_clave_secreta_aqui

# --- SEGURIDAD Y DOMINIOS ---
# Direcciones IP o dominios permitidos (separados por comas)
ALLOWED_HOSTS=localhost,127.0.0.1,TU_IP_O_DOMINIO

# Orígenes de confianza para formularios y seguridad (incluir http/https)
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://tu-dominio.duckdns.org

# --- CONFIGURACIÓN DE BASE DE DATOS (POSTGRESQL) ---
DB_ENGINE=django.db.backends.postgresql
DB_NAME=nombre_de_tu_base_de_datos
DB_USER=usuario_db
DB_PASSWORD=password_seguro_db
DB_HOST=127.0.0.1
DB_PORT=5432

# --- ARCHIVOS MULTIMEDIA ---
# Ruta donde se servirán las imágenes (por defecto /media/)
MEDIA_URL=/media/